{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="span12">
        <h1>Login</h1>
    </div>
</div>
<div class="row">
    <div class="span6">
        <div class="well well-white">
            <h3>비밀번호 없이 이메일로 로그인</h3>
            <div class="input-append">
                <form method="post">
                    {% csrf_token %}
                    {{ form }}
                    <button class="btn btn-large btn-primary" type="submit">Login</button>
                </form>
            </div>
        </div>
    </div>
    {% if social_auth.backends %}
    <div class="span6">
        <div class="well well-white">
            <h3>또는,</h3>
            <div class="row">
                {% if 'facebook' in social_auth.backends %}
                <a class="span2 btn btn-large btn-facebook">Connect via Facebook</a>
                {% endif %}
                {% if 'twitter' in social_auth.backends %}
                <a href="{% url "socialauth_begin" 'twitter' %}" class="span2 btn btn-large btn-twitter">Connect via Twitter</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
