<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-large btn-primary btn-collapse" data-toggle="collapse" data-target=".nav-collapse">
                <span class="fui-menu-24"></span>
            </a>
            <a class="brand" href="/">NDC 13</a>
            {% if user.is_authenticated %}
            <div class="btn-group pull-right">
                <a class="btn btn-large btn-info dropdown-toggle" data-toggle="dropdown" href="#">
                    <span class="fui-man-24"></span>
                    <span class="username">{{ user.username }}</span>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">Profile</a></li>
                    <li><a href="/accounts/logout/">Sign Out</a></li>
                </ul>
            </div>
            {% else %}
            <div class="btn-group pull-right">
                <a class="btn btn-large btn-info" href="{% url "login" %}">Login</a>
            </div>
            {% endif %}
            <div class="nav-collapse collapse">
                <ul class="nav">
                    {% for k, v in menus.items %}
                    <li class="{% if v.active %}active{% endif %}">
                        <a href="{% url k %}"><span class="fui-{{ v.icon }}-16"></span>&nbsp;&nbsp;{{ v.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
                <form class="navbar-search pull-right" action="{% url "haystack_search" %}">
                    <input type="text" name="q" class="search-query" placeholder="Search" value="{{ q }}">
                </form>
            </div>
        </div>
    </div>
</div>
