<script type="text/javascript">
$(function () { 
    $("[rel='tooltip']").tooltip();
    $(".taglist .tag").click(function() {
        if( $(this).hasClass("highlight") )
        {
            location.hash = '';
            $(".ft").show();
            $(".taglist .tag").removeClass("muted highlight");
        }
        else
        {
            location.hash = 'filter-'+this.id;
            $(".ft-"+this.id).show();
            $(".ft").not(".ft-"+this.id).hide();

            $(this).removeClass("muted").addClass("highlight");
            $(".taglist .tag").not("#"+this.id).addClass("muted").removeClass("highlight");
        }
    });

    if( location.hash.indexOf("filter") != -1 )
    {
        var hash = location.hash.split("-")[1];
        $("#tag-"+hash+" .tag").click();
    }
});
</script>
