Django==1.5.1
PIL==1.1.7
South==0.7.6
argparse==1.2.1
django-debug-toolbar==0.9.4
django-haystack==1.2.7
django-social-auth==0.7.22
httplib2==0.8
oauth2==1.5.211
python-openid==2.2.5
python-ptrace==0.6.4
wsgiref==0.1.2
