{% extends "base.html" %}
{% load cache %}
{% cache 3600 company_list %}
{% block title %}회사 목록{% endblock %}
{% block content %}
<div class="row">
    <div class="span12">
        <h1>Companies</h1>
        {% include "tag_list.html" %}
        <div class="row">
            {% for c in company_list %}
            <div class="span3 company-box ft {{ c.get_classes|join:' ' }}">
                <div class="company" onclick="document.location='{% url "company" c.id %}'">
                    <div class="name">
                        <a href="{% url "company" c.id %}">{{ c.name }}</a>
                    </div>
                    <table class="tagbar tagbar-thin">
                        <tr>
                        {% for tag in c.get_tags %}
                        {% if tag.is_category %}
                        <td class="tag-{{ tag.uid }}"></td>
                        {% endif %}
                        {% endfor %}
                    </tr></table>
                    <div class="speakers">
                        {% for s in c.speaker_set.all %}
                        <div class="speaker ft {{ s.get_classes|join:' ' }}"><a href="{% url "speaker" s.id %}">{{ s.name }}</a></div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
{% include "tag_script.html" %}
{% endblock %}
{% endcache %}
