{% extends "base.html" %}
{% load cache %}
{% cache 3600 company_detail company.id %}
{% block title %}{{ company.name }}{% endblock %}
{% block content %}
<div class="row">
    <div class="span8">
        <h1 class="name">
            {{ company.name }}
        </h1>
        {% if company.desc %}
        <p>{{ company.desc }}</p>
        {% endif %}
    </div>
    <div class="span4">
        <div class="info-box">
            <dl>
            <ul>
                {% if company.url %}
                <li>
                    <dt class="fui-cmd-24"></dt>
                    <dd><a href="{{ company.url }}">{{ company.url }}</a></dd>
                </li>
                {% endif %}
                <li>
                    <dt class="fui-man-24"></dt>
                    <dd>{{ company.speaker_set.all|length }} speaker{{ company.speaker_set.all|length|pluralize:",s" }}</dd>
                </li>
                <li>
                    <dt class="fui-video-24"></dt>
                    <dd>{{ company.get_sessions|length }} session{{ company.get_sessions|length|pluralize:",s" }}</dd>
                </li>
            </ul>
            </dl>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="span12">
        <h2>Sessions</h2>
        {% with sessions=company.get_sessions %}
        {% include "sessions.html" %}
        {% endwith %}
    </div>
</div>
{% endblock %}
{% endcache %}
