{% extends "base.html" %}
{% load cache %}
{% cache 3600 session_detail session.id %}
{% block title %}{{ session.name }}{% endblock %}
{% block content %}
<div class="row">
    <div class="span8">
        <h1>{{ session.name }}</h1>
        <h3>{{ session.desc }}</h3>
        <h6>
            {% if session.slide_url %}
            <span class="fui-volume-24"></span>
            <a href="{{ session.slide_url }}" target="_blank">{{ session.slide_url }}</a>
            {% endif %}
        </h6>
        <ul class="taglist">
            {% for tag in session.tags.all %}
            {% if tag.is_category %}
            <li><a href="{% url "sessions" %}#filter-{{ tag.uid }}">{{ tag.html }}</a></li>
            {% endif %}
            {% endfor %}
        </ul>
        <button class="btn btn-large"><span class="fui-checkmark-24"></span> 표시하기</button>
    </div>
    <div class="span4">
        <div class="info-box">
            <dl>
            <ul>
                <li>
                    <dt class="fui-calendar-24"></dt>
                    <dd>{{ session.date }}</dd>
                </li>
                <li>
                    <dt class="fui-time-24"></dt>
                    <dd>{{ session.get_times }}, {{ session.duration_in_min }}분</dd>
                </li>
                <li>
                    <dt class="fui-location-24"></dt>
                    <dd>{{ session.room }}</dd>
                </li>
                <li>
                    <dt class="fui-man-24"></dt>
                    <dd>
                    {% for speaker in session.speakers.all %}
                    <a href="{% url "speaker" speaker.id %}">{{ speaker }}</a>{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                    </dd>
                </li>
            </ul>
            </dl>
<div class="alert">표시하기는 본인 확인용입니다. 행사 진행과 관계가 없습니다.</div>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="span12">
        <h2>Comments</h2>
        {% with type="session" id=session.id %}
        {% include "comment.html" %}
        {% endwith %}
    </div>
</div>
{% endblock %}
{% endcache %}
