{% extends "base.html" %}
{% block title %}세션 목록{% endblock %}
{% block content %}
<div class="row">
    <div class="span12">
        <h1>Sessions</h1>
        {% include "tag_list.html" %}
    </div>
</div>
{% for d in dates %}
<h2>{{ d }}</h2>
<div class="row">
    <div class="span12">
        {% with sessions=d.sessions omit_date=True %}
        {% include "sessions.html" %}
        {% endwith %}
    </div>
</div>
{% endfor %}
{% endblock %}
{% block script %}
{% include "tag_script.html" %}
{% endblock %}
