{% extends "base.html" %}
{% block title %}발표자 목록{% endblock %}
{% block content %}
<div class="row">
    <div class="span12">
        <h1>Speakers</h1>
        {% include "tag_list.html" %}
    </div>
</div>
<div class="row">
    <div class="span12">
        <div class="row">
            {% for s in speaker_list %}
            <div class="span3">
                <div class="speaker-box">
                    <div class="speaker">
                        <div class="name">{{ s.name }}</div>
                        <div class="company">{{ s.company }}</div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
{% include "tag_script.html" %}
{% endblock %}
