{% extends "base.html" %}
{% block title %}{{ speaker.name }}{% endblock %}
{% block content %}
<div class="row">
    <div class="span8 speaker-info">
        <h1 class="name">
            {% if speaker.twitter %}
            <div class="photo">
                <img src="http://api.twitter.com/1/users/profile_image/{{ speaker.twitter }}"/>
            </div>
            {% endif %}
            {{ speaker.name }}
            <small>
                {% if speaker.twitter %}
                <a href="https://twitter.com/{{ speaker.twitter }}" target="_blank">@{{ speaker.twitter }}</a> / 
                {% endif %}
                <a href="{% url "company" speaker.company.id %}">{{ speaker.company.name }}</a>
            </small>
        </h1>
        {% if speaker.twitter %}
        <a href="https://twitter.com/{{ speaker.twitter }}" class="twitter-follow-button" data-show-count="true" data-size="large">Follow @{{ speaker.twitter }}</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        {% endif %}
        <ul class="taglist">
            {% for tag in speaker.get_tags %}
            {% if tag.is_category %}
            <li><a href="{% url "sessions" %}#filter-{{ tag.uid }}">{{ tag.html }}</a></li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
<hr>
<div class="row">
    <div class="span12">
        <h2>Sessions</h2>
        {% with sessions=speaker.session_set.all %}
        {% include "sessions.html" %}
        {% endwith %}
    </div>
</div>
<hr>
<div class="row">
    <div class="span12">
        <h2>Comments</h2>
        <a class="moot" href="http://api.moot.it/sndc13/{{ request.path }}"></a>
    </div>
</div>
{% endblock %}
