{% extends "base.html" %}
{% load cache %}
{% block title %}발표자 목록{% endblock %}
{% block content %}
{% cache 3600 speaker_list %}
<div class="row">
    <div class="span12">
        <h1>Speakers</h1>
        {% include "tag_list.html" %}
        <div class="row">
            {% for s in speaker_list %}
            <div class="span3 speaker-box ft {{ s.get_classes|join:' ' }}">
                <div class="speaker" onclick="document.location='{% url "speaker" s.id %}'">
                    {% if s.twitter %}
                    <div class="photo">
                        <img src="{{ s.get_twitter_profile_image }}" />
                    </div>
                    {% endif %}
                    <div class="name">
                        <a href="{% url "speaker" s.id %}">{{ s.name }}</a>
                        {% if s.twitter %}
                        <span class="twitter"><a href="https://twitter.com/{{ s.twitter }}" target="_blank">@{{ s.twitter }}</a></span>
                        {% endif %}
                    </div>
                    <table class="tagbar tagbar-thin">
                        <tr>
                        {% for tag in s.get_tags %}
                        {% if tag.is_category %}
                        <td class="tag-{{ tag.uid }}"></td>
                        {% endif %}
                        {% endfor %}
                    </tr></table>
                    <div class="company">
                        <a href="{% url "company" s.company.id %}">{{ s.company }}</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endcache %}
{% endblock %}
{% block script %}
{% include "tag_script.html" %}
{% endblock %}
