a {
    color: #34495e;
    text-decoration: none;
}

.timetable thead th {
    background: #34495e;
    border-color: #34495e; 
    color: white;
    text-align: center;
}
.timetable tbody th {
    background: #e9e9f0;
    text-align: center;
}
.timetable td {
    position: relative;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    -webkit-backface-visibility: hidden; 
}
.timetable .keynote {
    background: #e9e9f0;
}
.timetable .booked {
    cursor: pointer;
}
.timetable .booked:hover {
    background: #34495e;
}
.timetable .booked:hover a {
    color: #ffffff;
}
.timetable .booked:hover a:hover {
    color: #1abc9c;
}
.timetable .session {
    margin-bottom: 40px;
}
.timetable .title {
    font-size: 13px;
}
.timetable .desc {
    font-size: 10px;
}
.timetable .speaker_and_company {
    position: absolute;
    right: 8px;
    bottom: 5px;
    text-align: right;
}
.timetable .speaker, .company {
    font-size: 10px;
    line-height: 140%;
}

.taglist {
    margin: 10px 0;
}

.taglist li {
    display: inline;
    list-style: none;
    margin: 0;
}

.tagbar {
    height: 5px;
    width: 100%;
    margin-bottom: 5px;
    padding: 0;
}
.tagbar td {
    padding: 0;
    border: 0;
    width: 20%;
}

.tag {
    cursor: pointer;
    font-size: 12px;
    border-radius: 4px;
    background: #1abc9c;
    line-height: 20px;
    color: white;
    margin: 3px;
    overflow: hidden;
    padding: 5px 10px;
    position: relative;
    vertical-align: middle;
    display: inline-block;
    -webkit-transition: 0.14s linear;
    -moz-transition: 0.14s linear;
    -o-transition: 0.14s linear;
    transition: 0.14s linear;
}
.tag:hover {
    background-color: #34495e;
}
.tag-design {
    background: #ff0000;
}
.tag-icon-design {
    padding-left: 34px;
    background: url('/media/tag/design.png') no-repeat #ff0000;
    background-position: 4px 3px;
    background-size: 24px 24px;
}
.tag-art {
    background: #fca834;
}
.tag-icon-art {
    padding-left: 34px;
    background: url('/media/tag/art.png') no-repeat #fca834;
    background-position: 4px 3px;
    background-size: 24px 24px;
}
.tag-managing {
    background: #00a0d1;
}
.tag-icon-managing {
    padding-left: 34px;
    background: url('/media/tag/managing.png') no-repeat #00a0d1;
    background-position: 4px 3px;
    background-size: 24px 24px;
}
.tag-indi {
    background: #2f2779;
}
.tag-icon-indi {
    padding-left: 34px;
    background: url('/media/tag/indi.png') no-repeat #2f2779;
    background-position: 4px 3px;
    background-size: 24px 24px;
}
.tag-mobile {
    background: #f2006c;
}
.tag-icon-mobile {
    padding-left: 34px;
    background: url('/media/tag/mobile.png') no-repeat #f2006c;
    background-position: 4px 3px;
    background-size: 24px 24px;
}
.tag-code {
    background: #e55a00;
}
.tag-icon-code {
    padding-left: 34px;
    background: url('/media/tag/code.png') no-repeat #e55a00;
    background-position: 4px 3px;
    background-size: 24px 24px;
}
.tag-product {
    background: #00b44a;
}
.tag-icon-product {
    padding-left: 34px;
    background: url('/media/tag/product.png') no-repeat #00b44a;
    background-position: 4px 3px;
    background-size: 24px 24px;
}
.tag-keynote {
    background: #62107a;
}
.tag-icon-keynote {
    padding-left: 34px;
    background: url('/media/tag/keynote.png') no-repeat #62107a;
    background-position: 4px 3px;
    background-size: 24px 24px;
}
