a {
    color: #34495e;
    text-decoration: none;
}

.timetable thead th {
    background: #34495e;
    border-color: #34495e; 
    color: white;
    text-align: center;
}
.timetable tbody th {
    background: #e9e9f0;
    text-align: center;
}
.timetable td {
    position: relative;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    -webkit-backface-visibility: hidden; 
}
.timetable .keynote {
    background: #e9e9f0;
}
.timetable .booked {
    cursor: pointer;
}
.timetable .booked:hover {
    background: #34495e;
}
.timetable .booked:hover a {
    color: #ffffff;
}
.timetable .booked:hover a:hover {
    color: #1abc9c;
}
.timetable .session {
    margin-bottom: 40px;
}
.timetable .title {
    font-size: 13px;
}
.timetable .desc {
    font-size: 10px;
}
.timetable .speaker_and_company {
    position: absolute;
    right: 8px;
    bottom: 5px;
    text-align: right;
}
.timetable .speaker, .company {
    font-size: 10px;
    line-height: 140%;
}

.taginfo img {
    width: 16px;
    height: auto;
}
.taginfo li {
    list-style: none;
}

.tagbar {
    height: 5px;
    width: 100%;
    margin-bottom: 5px;
    padding: 0;
}
.tagbar td {
    padding: 0;
    border: 0;
    width: 20%;
}

.tag {
    font-size: 12px;
    border-radius: 4px;
    background: #1abc9c;
    color: white;
    margin: 3px;
    overflow: hidden;
    padding: 5px 13px;
    position: relative;
    vertical-align: middle;
    display: inline-block;
}
.tag-design {
    background: #ff0000;
}
.tag-art {
    background: #fca834;
}
.tag-managing {
    background: #00a0d1;
}
.tag-indi {
    background: #2f2779;
}
.tag-mobile {
    background: #f2006c;
}
.tag-code {
    background: #e55a00;
}
.tag-product {
    background: #00b44a;
}
.tag-keynote {
    background: #62107a;
}
