a {
    color: #34495e;
    text-decoration: none;
}
.username {
    margin:0 5px;
}
.timetable td {
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    -webkit-backface-visibility: hidden; 
}
.timetable .keynote {
    background: #e9e9f0;
}
.timetable .booked {
    cursor: pointer;
}
.timetable .booked:hover {
    background: #34495e;
}
.timetable .booked:hover a {
    color: #ffffff;
}
.timetable .booked:hover a:hover {
    color: #1abc9c;
}
.timetable .session {
    padding-bottom: 40px;
}
.timetable .title {
    font-size: 13px;
}
.timetable .speaker_and_company {
    position: absolute;
    right: 0px;
    bottom: 0px;
    text-align: right;
}
.timetable .speaker, .timetable .company {
    font-size: 11px;
    line-height: 140%;
}

.company-box .company {
    border: 1px solid #bdc3c7;
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    cursor: pointer;
    margin: 10px 0;
}

.company-box .company:hover {
    border: 1px solid #34495e;
    -webkit-box-shadow: 0 0 1px #56efb4, 0 0 8px rgba(82, 236, 168, .6);
    -moz-box-shadow: 0 0 1px #56efb4, 0 0 8px rgba(82, 236, 168,.6);
    box-shadow: 0 0 1px #56efb4, 0 0 8px rgba(82, 236, 168, .6);
}

.company-box .company .name {
    display: block;
    padding: 14px 14px;
    background: #ecf0f1;
}

.company-box .company .speakers {
    display: block;
    border-top: 1px solid #d9dfe0;
    color: #7f8c8d;
}

.company-box .company .speakers .speaker {
    display: inline-block;
    padding: 5px 14px;
    min-width: 50px;
}

.speaker-box .speaker {
    border: 1px solid #bdc3c7;
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    cursor: pointer;
    margin: 10px 0;
}

.speaker-box .speaker:hover {
    border: 1px solid #34495e;
    -webkit-box-shadow: 0 0 1px #56efb4, 0 0 8px rgba(82, 236, 168, .6);
    -moz-box-shadow: 0 0 1px #56efb4, 0 0 8px rgba(82, 236, 168,.6);
    box-shadow: 0 0 1px #56efb4, 0 0 8px rgba(82, 236, 168, .6);
}

.speaker-box .speaker .name {
    display: block;
    padding: 14px 14px;
}

.speaker-box .speaker .twitter a {
    color: #7f8c8d;
    font-size: 11px;
}

.speaker-box .speaker .photo {
    margin: 5px;
    border: 1px solid #bdc3c7;
    display: inline;
    float: right;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    overflow: hidden;
}

.speaker-box .speaker .photo img {
    width: 32px;
    height: auto;
}

.speaker-box .speaker .company {
    font-size: 11px;
    display: block;
    border-top: 1px solid #d9dfe0;
    color: #7f8c8d;
    background: #ecf0f1;
    padding: 4px 14px 5px;
}

.speaker-info .name {
    padding: 4px 0;
    line-height: 60px;
}

.speaker-info .photo {
    margin: 5px 8px 5px 0px;
    border: 1px solid #bdc3c7;
    display: inline;
    float: left;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    overflow: hidden;
}

.speaker-info .photo img {
    width: 72px;
    height: auto;
}

.company tbody th {
    background: #e9e9f0;
}

.taglist {
    margin: 10px 0;
}

.taglist li {
    display: inline;
    list-style: none;
    margin: 0;
}

.tagbar {
    height: 5px;
    width: 100%;
    margin-bottom: 5px;
    padding: 0;
}
.tagbar td {
    padding: 0;
    border: 0;
    width: 20%;
}

.tagbar-mid {
    width: 64px;
    height: 8px;
    padding: 0;
    margin: 8px 0;
}

.tagbar-thin {
    width: 100%;
    height: 3px;
    padding: 0;
    margin: 0;
}

.tagbar-mid td:first-child {
    -webkit-border-top-left-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-top-left-radius: 6px;
    -moz-border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.tagbar-mid td:last-child {
    -webkit-border-top-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-top-right-radius: 6px;
    -moz-border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.tag {
    cursor: pointer;
    font-size: 12px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #1abc9c;
    line-height: 20px;
    color: white;
    margin: 3px;
    overflow: hidden;
    padding: 5px 10px;
    position: relative;
    vertical-align: middle;
    display: inline-block;
    -webkit-transition: 0.14s linear;
    -moz-transition: 0.14s linear;
    -o-transition: 0.14s linear;
    transition: 0.14s linear;
}
.tag:hover {
    background-color: #34495e;
}
.tag-design {
    background: #ff0000;
}
.tag-icon-design {
    padding-left: 34px;
    background: url('/media/tag/design.png') no-repeat #ff0000;
    background-position: 4px 3px;
    background-size: 24px 24px;
}
.tag-art {
    background: #fca834;
}
.tag-icon-art {
    padding-left: 34px;
    background: url('/media/tag/art.png') no-repeat #fca834;
    background-position: 4px 3px;
    background-size: 24px 24px;
}
.tag-managing {
    background: #00a0d1;
}
.tag-icon-managing {
    padding-left: 34px;
    background: url('/media/tag/managing.png') no-repeat #00a0d1;
    background-position: 4px 3px;
    background-size: 24px 24px;
}
.tag-indi {
    background: #2f2779;
}
.tag-icon-indi {
    padding-left: 34px;
    background: url('/media/tag/indi.png') no-repeat #2f2779;
    background-position: 4px 3px;
    background-size: 24px 24px;
}
.tag-mobile {
    background: #f2006c;
}
.tag-icon-mobile {
    padding-left: 34px;
    background: url('/media/tag/mobile.png') no-repeat #f2006c;
    background-position: 4px 3px;
    background-size: 24px 24px;
}
.tag-code {
    background: #e55a00;
}
.tag-icon-code {
    padding-left: 34px;
    background: url('/media/tag/code.png') no-repeat #e55a00;
    background-position: 4px 3px;
    background-size: 24px 24px;
}
.tag-product {
    background: #00b44a;
}
.tag-icon-product {
    padding-left: 34px;
    background: url('/media/tag/product.png') no-repeat #00b44a;
    background-position: 4px 3px;
    background-size: 24px 24px;
}
.tag-keynote {
    background: #62107a;
}
.tag-icon-keynote {
    padding-left: 34px;
    background: url('/media/tag/keynote.png') no-repeat #62107a;
    background-position: 4px 3px;
    background-size: 24px 24px;
}

.info-box {
    margin: 4px;
    padding: 0;
    background-color: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
    box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.info-box ul {
    margin:0;
    padding: 0;
}
.info-box li {
    display: block;
    margin: 0 0 -1px;
    padding: 8px 14px;
    border: 1px solid #e5e5e5;
}
.info-box li:first-child {
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}
.info-box li:last-child {
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
}
.info-box li > dt {
    display: inline;
    padding: 8px 8px;
}
.info-box li > dd {
    display: inline;
    margin: 0;
    padding: 8px 14px;
}

.tiny {
    font-size: 11px;
}

.logo {
    width: 100%;
    min-width: 300px;
    max-width: 640px;
}
.sponsor {
    margin: 32px 0;
    text-align: center;
    color: #bdc3c7;
}
.box {
    width: 22%;
    height: 8%;
    display: inline-block;
    font-size: 32px;
    margin: 1%;
    color: white;
    text-align: center;
}
.box-blue {
    background: #00b0de;
}
.box-pink {
    background: #dc3a74;
}
.box-green {
    background: #b9d136;
}
.box-yellow {
    background: #efa92b;
}

.center {
    text-align: center;
}

.disclaimer li {
    line-height: 180%;
    margin: 8px 0;
}
.disclaimer a {
    border: 1px solid #bdc3c7;
    background: #ecf0f1;
    padding: 2px 4px;
    margin: 0px 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.tech li {
    padding: 0;
}

.tech li > dt {
    padding: 8px 20px;
    display: inline-block;
    width: 80px;
    background: #ecf0f1;
}

.btn-square {
    width: 16%;
    height: 40px;
    position: relative;
    padding: 4%;
}
.btn-square .icon {
    height: 30px;
}
.btn-square .title {
    width: 100%;
    text-align: center;
}
@media (max-width: 767px) {
    .btn-square .title {
        font-size: 13px;
    }
}
