{% extends 'base.html' %}

{% block content %}
<h1>Search results</h1>
{% if query %}
    {% if page.object_list|length %}
    <table class="table table-bordered">
        <colgroup>
            <col width="110px">
        </colgroup>
        {% for result in page.object_list %}
        <tr>
            <th>{{ result.verbose_name }}</th>
            <td><a href="{{ result.object.get_absolute_url }}">{{ result.object.name }}</a></td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <div class="alert alert-block">
        No results found.
    </div>
    {% endif %}
{% else %}
<div class="alert alert-block alert-error">
    <strong>Oops!</strong> It's too hard to search with None. :^(
</div>
{% endif %}
{% endblock %}
