{% extends 'base.html' %}

{% block content %}
<h1>Search results</h1>
{% if query %}
    {% if page.object_list|length %}
    <table class="table table-bordered">
        <colgroup>
            <col width="110px">
        </colgroup>
        {% for result in page.object_list %}
        <tr>
            <th>{{ result.verbose_name }}</th>
            <td><a href="{{ result.object.get_absolute_url }}">{{ result.object.name }}</a></td>
        </tr>
        {% endfor %}
    </table>
    {% if page.has_previous or page.has_next %}
    <div class="pagination">
        <ul>
            {% if page.has_previous %}
            <li class="previous"><a href="?q={{ query }}&amp;page={{ page.previous_page_number }}"><img src="{{ STATIC_URL }}lib/flat-ui/images/pager/previous.png"> Previous</a></li>
            {% endif %}
            <li class="active"><a>Page {{ page.number }} of {{ page.paginator.num_pages }}</a></li>
            {% if page.has_next %}
            <li class="next"><a href="?q={{ query }}&amp;page={{ page.next_page_number }}">Next <img src="{{ STATIC_URL }}lib/flat-ui/images/pager/next.png"></a></li>
            {% endif %}
        </ul>
    </div>
    {% endif %}
    {% else %}
    <div class="alert alert-block">
        No results found.
    </div>
    {% endif %}
{% else %}
<div class="alert alert-block alert-error">
    <strong>Oops!</strong> It's too hard to search with None. :^(
</div>
{% endif %}
{% endblock %}
